<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.png') }}" type="image/x-icon">
    {% if param.title %}
    <title>{{ param.title }}</title>
    {% else %}
    <title>Flask App</title>
    {% endif %}
</head>

<body>

    {% include "navigation.html" %}
    {{ param.title }}
    
    {% block content %} {% endblock %}
</body>

</html>